@using ePOS3.Utils
@using Newtonsoft.Json
@{
    ePosAccount posAccount = new ePosAccount();
    if (Request.Cookies[".ASPXAUTH"] != null)
    {
        posAccount = (ePosAccount)JsonConvert.DeserializeObject(FormsAuthentication.Decrypt(Request.Cookies[".ASPXAUTH"].Value).UserData, typeof(ePosAccount));
    }
    else
    {
        <script>
            $(function() {
                window.location.href = '/ePOS/Login';
            });
        </script>
        return;
    }
}
@model ePOS3.Models.CancelRequestModel
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <ul class="nav nav-tabs">
                <li class="nav-item active"><a href="#CancelRequest" data-toggle="tab">Danh sách yêu cầu hủy</a></li>               
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="CancelRequest">
                    <br />
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm- col-xs-12">Ví TNV:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.DropDownListFor(m => m.Edong, Model.EdongList, new { @class = "form-control chosen-select" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã KH:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="Customer" class="form-control" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Trạng thái:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.DropDownListFor(m => m.status, Model.StatusList, new { @class = "form-control chosen-select" })
                            </div>
                        </div> 
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Từ ngày:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left datefield" id="FromDate" aria-describedby="inputSuccess2Status" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" >đến ngày:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left datefield" id="ToDate" aria-describedby="inputSuccess2Status" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>                            
                        </div>
                        <br />
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12 text-left ">
                                <button type="button" id="btnSearch" class="btn btn-success">Tìm kiếm</button>

                            </div>
                        </div>
                    </form>
                    <div id="CancelRequestContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dynamic-modal"></div>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    var dataCancel = null;
    $(document).ready(function () {
        //$.ajax({
        //    type: 'get',
        //    url: '/Manager/_MapEdong',
        //    success: function (data) {
        //        $('#ControlDebtNPC').html(data);
        //    },
        //    error: function (ErrorThrown) {
        //        document.getElementById('msg_error').innerHTML = 'Lỗi hệ thống. Vui lòng liên hệ bộ phận kỹ thuật';
        //        $('#error').modal('show');
        //    }
        //});
        $('.datefield').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1",
            format: "DD/MM/YYYY",
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#CancelRequestContainer').jqxGrid({
            width: '100%',
            autoheight: true,
            renderToolbar: function (toolbar) {
                var container = $("<div style='overflow: hidden; position: relative; height: 100%; width: 100%; text-align: center;background:  #5992cd;'>" +
                    "<h4 style='margin-top: 10px; float: left; padding-left: 10px; font-size: 11px; font-weight: bold;'>Danh sách yêu cầu</h4></div>");
                toolbar.append(container);
            },
            enablebrowserselection: true,
            columnsresize: true,
            sortable: false,
            pageable: true,
            pagesize: 50,
            pagesizeoptions: ['50', '100', '200', '300', '500'],
            pagerMode: 'advanced',
            showToolbar: true,
            autorowheight: true,
            altrows: true,
            columns: [
                {
                    text: ' ', dataField: 'col_10', width: '3%', pinned: true, cellsrenderer: function (row, columnfield, value) {
                        if (value == '1') {
                            return '<div style="text-align: center; padding-top:10px;"><a href="#" class="navbutton"' +
                            ' onclick="checkCNN(\'' + row + '\')" >' +
                            '<img src="/images/icon_edit.png" title="Cập nhật"/></a></div>';
                        } else {
                            return '';
                        }
                    }
                },
                { text: 'Số ví YC', dataField: 'col_2', width: '10%', align: 'center', pinned: true, cellsalign: 'left' },
                { text: 'Mã khách hàng', dataField: 'col_3', pinned: true, width: '12%', align: 'center', cellsalign: 'left' },
                { text: 'Mã HĐ', dataField: 'col_4', width: '9%', pinned: true, align: 'center', cellsalign: 'left' },
                { text: 'Số tiền', dataField: 'col_5', width: '10%', pinned: true, align: 'center', cellsalign: 'right' },
                { text: 'Ngày gửi YC', dataField: 'col_6', width: '10%', align: 'center', cellsalign: 'left' },
                { text: 'Trạng thái YC', dataField: 'col_7', width: '15.3%', align: 'center', cellsalign: 'left' },
                { text: 'Lí do', dataField: 'col_8', width: '34%', align: 'center', cellsalign: 'left' }
            ]
        });
        $('#btnSearch').click(function () {
            $('.loading').show();
            $.ajax({
                url: '/Manager/SearchCancelRequest',
                type: 'post',
                data: {
                    edong: $("#Edong option:selected").val(),
                    customer: $('#Customer').val(),
                    status: $('#status option:selected').val(),
                    fromdate: $('#FromDate').val(),
                    todate: $('#ToDate').val()
                },
                success: function (data) {
                    $('.loading').hide();
                    if (data.isRedirect)
                        window.location.href = data.redirectUrl;
                    if (data.Result == "SUCCESS") {
                        dataCancel = data.Records;
                        $("#CancelRequestContainer").jqxGrid('refresh');
                        $("#CancelRequestContainer").jqxGrid({ source: new $.jqx.dataAdapter(source(dataCancel))});
                    } else {
                        $("#CancelRequestContainer").jqxGrid('clear');
                        document.getElementById('msg_error').innerHTML = data.Message;
                        $('#error').modal('show');
                    }
                },
                error: function () {
                    $('.loading').hide();
                    window.location.href = '@Url.Action("Login", "ePOS")';
                }
            });
        });
    });
    function checkCNN(cellValue) {
        $.ajax({
            url: '/ePOS/CheckSession',
            type: 'post',
            success: function (data) {
                if (data.Result == 'ERROR') {
                    window.location.href = '@Url.Action("Login", "ePOS")';
                } else {
                    $('.loading').show();
                    $.ajax({
                        url: '/Manager/GetInfoRequest',
                        type: 'post',
                        data: {
                            fromdate: $("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_9,
                            tracenumber: $('#CancelRequestContainer').jqxGrid('getrowdata', cellValue).col_12,
                            auditnumber: $('#CancelRequestContainer').jqxGrid('getrowdata', cellValue).col_14,
                            billingdate: $('#CancelRequestContainer').jqxGrid('getrowdata', cellValue).col_15,
                            edong: $('#CancelRequestContainer').jqxGrid('getrowdata', cellValue).col_2
                            //edong: $("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_2,
                            //customer: $("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_3,
                            //bill: $("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_4,
                            //fromdate: $("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_9,
                            //amount: $("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_5,
                            //tracenumber: $('#CancelRequestContainer').jqxGrid('getrowdata', cellValue).col_12,
                            //billingtype: $('#CancelRequestContainer').jqxGrid('getrowdata', cellValue).col_13
                        },
                        success: function (data) {
                            $('.loading').hide();
                            if (data.isRedirect)
                                window.location.href = data.redirectUrl;
                            if (data.Result == "SUCCESS") {
                                $.ajax({
                                    type: 'get',
                                    url: '/Manager/_EditCancelRequest',
                                    data: {
                                        id: encodeURI($("#CancelRequestContainer").jqxGrid('getrowdata', cellValue).col_1),
                                        index: encodeURI(cellValue),
                                        check: encodeURI(data.check),
                                        status: encodeURI(data.status)
                                    },
                                    success: function (data) {
                                        $('#dynamic-modal').html(data);
                                        $("#dynamic-modal").modal('show');
                                    },
                                    error: function (ErrorThrown) {
                                        document.getElementById('msg_error').innerHTML = 'Lỗi hệ thống. Vui lòng liên hệ bộ phận kỹ thuật';
                                        $('#error').modal('show');
                                    }
                                });
                            } else {
                                document.getElementById('msg_error').innerHTML = data.Message;
                                $('#error').modal('show');
                            }
                        },
                        error: function (ErrorThrown) {
                            $('.loading').hide();
                            window.location.href = '@Url.Action("Login", "ePOS")';
                        }
                    });
                }
            },
            error: function (ErrorThrown) {
                window.location.href = '@Url.Action("Login", "ePOS")';
            }
        });
    }
    function source(data) {
        var source =
        {
            id: 'col_1',
            localData: data,
        };
        return source;
    }
</script>

