@using ePOS3.Utils
@using Newtonsoft.Json
@{
    ePosAccount posAccount = new ePosAccount();
    if (Request.Cookies[".ASPXAUTH"] != null)
    {
        posAccount = (ePosAccount)JsonConvert.DeserializeObject(FormsAuthentication.Decrypt(Request.Cookies[".ASPXAUTH"].Value).UserData, typeof(ePosAccount));
    }
    else
    {
        <script>
            $(function() {
                window.location.href = '/ePOS/Login';
            });
        </script>
        return;
    }
}
@model ePOS3.Models.ControlDebtModel
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <ul class="nav nav-tabs">
                <li class="nav-item active"><a href="#ManagerEVNHP" data-toggle="tab">Hải Phòng</a></li>

            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="ManagerEVNHP">
                    <br />
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Công ty ĐL:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="pc" class="form-control" maxlength="20">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 text-left ">
                                <button type="button" id="btnSearch" class="btn btn-success">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                    <div id="EVNHPContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dynamic-modal"></div>
<script type="text/javascript">
    var dataListPC_HP = null;
    $(document).ready(function () {
        $('#EVNHPContainer').jqxGrid({
            width: '100%',
            autoheight: true,
            enablebrowserselection: true,
            columnsresize: true,
            sortable: false,
            pageable: true,
            pagesize: 50,
            pagesizeoptions: ['50', '100', '200', '300', '500'],
            pagerMode: 'advanced',

            autorowheight: true,
            altrows: true,
            columns: [
                {
                    text: 'Số TT', datafield: '', columntype: 'number', width: '5%', align: 'center', cellsalign: 'left',
                    cellsrenderer: function (row, column, value) {
                        return "<div class= 'jqx-grid-cell-left-align' style='margin-top: 12px;'>" + (value + 1) + "</div>";
                    }
                },
                { text: 'Mã điện lực', datafield: 'ext', width: '10%', align: 'center', cellsalign: 'left' },
                { text: 'Công ty điện lực', dataField: 'shortName', width: '55%', align: 'center', cellsalign: 'left' },
                {
                    text: 'Tình trạng GT', width: '10%', align: 'center', cellsrenderer: function (row) {
                        return '<div style="text-align: center; padding-top:5px;"><a href="#" class="navbutton"' +
                            ' onclick="checkCNN(\'' + row + '\',\'' + 1 + '\')" >' +
                            '<img src="/images/icon_check.png" title="Kiểm tra tình trạng giao thu"/></a></div>';
                    }
                },
                {
                    text: 'Lấy GT tay', width: '10%', align: 'center', cellsrenderer: function (row) {
                        return '<div style="text-align: center; padding-top:5px;"><a href="#" class="navbutton"' +
                            ' onclick="checkCNN(\'' + row + '\',\'' + 2 + '\')" >' +
                            '<img src="/images/icon_check.png" title="Lấy giao thu bằng tay"/></a></div>';
                    }
                },
                {
                    text: 'Lịch sử', width: '10%', align: 'center', cellsrenderer: function (row) {
                        return '<div style="text-align: center; padding-top:5px;"><a href="#" class="navbutton"' +
                            ' onclick="checkCNN(\'' + row + '\',\'' + 3 + '\')" >' +
                            '<img src="/images/icon_check.png" title="Lịch sử"/></a></div>';
                    }
                },
            ]
        });
        $('#btnSearch').click(function () {
            if (!$('#pc').val()) {
                document.getElementById('msg_error').innerHTML = 'Vui lòng nhập mã công ty điện lực';
                $('#error').modal('show');
            } else {
                $('.loading').show();
                $.ajax({
                    url: '/Manager/SearchEVNHP',
                    type: 'post',
                    data: {
                        pcCode: $('#pc').val()
                    },
                    success: function (data) {
                        $('.loading').hide();
                        if (data.isRedirect)
                            window.location.href = data.redirectUrl;
                        if (data.Result == 'SUCCESS') {
                            dataListPC_HP = data.Records;
                            $("#EVNHPContainer").jqxGrid('refresh');
                            $("#EVNHPContainer").jqxGrid({ source: new $.jqx.dataAdapter(sourceEVNHP(dataListPC_HP)) });
                        } else {
                            dataListPC_HP = null;
                            $("#EVNHPContainer").jqxGrid('clear');
                            document.getElementById('msg_error').innerHTML = data.Message;
                            $('#error').modal('show');
                        }
                    },
                    error: function (ErrorThrown) {
                        $('.loading').hide();
                        window.location.href = '@Url.Action("Login", "ePOS")';
                    }
                });
            }
        });
        getEVNHP();
    });
    function getEVNHP() {
        $('.loading').show();
        $.ajax({
            url: '/Manager/SearchEVNHP',
            type: 'post',
            success: function (data) {
                $('.loading').hide();
                if (data.isRedirect)
                    window.location.href = data.redirectUrl;
                if (data.Result == 'SUCCESS') {
                    dataListPC_HP = data.Records;
                    $("#EVNHPContainer").jqxGrid('refresh');
                    $("#EVNHPContainer").jqxGrid({ source: new $.jqx.dataAdapter(sourceEVNHP(dataListPC_HP)) });
                } else {
                    dataListPC_HP = null;
                    $("#EVNHPContainer").jqxGrid('clear');
                    document.getElementById('msg_error').innerHTML = data.Message;
                    $('#error').modal('show');
                }
            },
            error: function (ErrorThrown) {
                $('.loading').hide();
                window.location.href = '@Url.Action("Login", "ePOS")';
            }
        });
    }
    function sourceEVNHP(data) {
        var source =
        {
            id: 'code',
            localData: data,
        };
        return source;
    }
    function checkCNN(cellValue, index) {
        $.ajax({
            url: '/ePOS/CheckSession',
            type: 'post',
            success: function (data) {
                if (data.Result == 'ERROR') {
                    window.location.href = '@Url.Action("Login", "ePOS")';
                } else {
                    if (index == 1 || index == 2) {
                        $('.loading').show();
                        $.ajax({
                            url: '/Manager/CheckEVNHP',
                            type: 'post',
                            data: {
                                status: index,
                                pcCode: $("#EVNHPContainer").jqxGrid('getrowdata', cellValue).ext
                            },
                            success: function (data) {
                                $('.loading').hide();
                                if (data.isRedirect)
                                    window.location.href = data.redirectUrl;
                                else if (data.Result == 'SUCCESS') {
                                    document.getElementById('msg_info').innerHTML = data.Message;
                                    $('#info').modal('show');
                                } else {
                                    document.getElementById('msg_error').innerHTML = data.Message;
                                    $('#error').modal('show');
                                }
                            },
                            error: function (ErrorThrown) {
                                $('.loading').hide();
                                window.location.href = '@Url.Action("Login", "ePOS")';
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'get',
                            url: '/Manager/_HistoryEVNHP',
                            data: {
                                pc: encodeURI($("#EVNHPContainer").jqxGrid('getrowdata', cellValue).ext)
                            },
                            success: function (data) {
                                $('#dynamic-modal').html(data);
                                $("#dynamic-modal").modal('show');
                            },
                            error: function (ErrorThrown) {
                                document.getElementById('msg_error').innerHTML = 'Lỗi hệ thống. Vui lòng liên hệ bộ phận kỹ thuật';
                                $('#error').modal('show');
                            }
                        });
                    }
                }
            },
            error: function (ErrorThrown) {
                window.location.href = '@Url.Action("Login", "ePOS")';
            }
        });
    }

</script>