@model ePOS3.Models.AddAPIModel
@{
    if (Request.Cookies[".ASPXAUTH"] == null)
    {
        <script>
            $(function () {
                window.location.href = '/ePOS/Login';
            });
        </script>
        return;
    }
}
<div class="modal-dialog modal-sm" style="width:80%;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Cập nhật tiến trình</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal form-label-left input_mask">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên:</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" id="Add_APIName" class="form-control " maxlength="100" value="@ViewBag.name">
                    </div>
                </div>
                @*<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Thuộc tính:</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" id="Add_APIMethod" class="form-control " maxlength="100" value="@ViewBag.method">
                    </div>
                </div>*@
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Thuộc tính:  </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.DropDownListFor(m => m.Add_APIMethod, Model.APIMethodList, new { @class = "form-control chosen-select", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">URL:  </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" id="Add_APIURL" class="form-control " maxlength="100" value="@ViewBag.url" readonly />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng thái:  </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @if (ViewBag.status == "0")
                        {
                            <label class="radio-inline"><input type="radio" id="Add_APIStatus" name="lever_status" checked="checked" value="0">Không hoạt động</label>
                            <label class="radio-inline"><input type="radio" id="Add_APIStatus" name="lever_status" value="1">Hoạt động</label>
                        }
                        else
                        {
                            <label class="radio-inline"><input type="radio" id="Add_APIStatus" name="lever_status" value="0">Không hoạt động</label>
                            <label class="radio-inline"><input type="radio" id="Add_APIStatus" name="lever_status" checked="checked" value="1">Hoạt động</label>
                        }
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Thoát</button>
            <button type="button" id="btnEdit" class="btn btn-success">Cập nhật</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnEdit').click(function () {
             $.ajax({
                 url: '/Help/doEit_API',
                type: 'post',
                 data: {
                    id: '@ViewBag.id',
                    name: $('#Add_APIName').val(),
                    method: $('#Add_APIMethod').val(),
                    url: $('#Add_APIURL').val(),
                    status: $('input[name="lever_status"]').filter(':checked').val(),
                    index: '@ViewBag.index',
                    datasource: JSON.stringify(dataAPI)
                },
                success: function (data) {
                    if (data.isRedirect) {
                        window.location.href = data.redirectUrl;
                    } else if (data.Result === 'SUCCESS') {
                        $('#dynamic-modal').modal('hide');
                        dataAPI = null;
                        dataAPI = data.Records;
                        $("#API_Contaier").jqxGrid('refresh');
                        var dataadapter2 = new $.jqx.dataAdapter(sourceSumAPI(data));
                        dataAPI = data.Records;
                        $("#API_Contaier").jqxGrid({
                            source: dataadapter2,
                            virtualmode: true,
                            rendergridrows: function () {
                                return dataadapter2.records;
                            },
                        });
                        document.getElementById('msg_info').innerHTML = data.Message;
                        $('#info').modal('show');
                    } else {
                        document.getElementById('msg_error').innerHTML = data.Message;
                        $('#error').modal('show');
                    }
                },
                error: function (errorThrown) {
                    window.location.href = '@Url.Action("Login", "ePOS")';
                }
            });
        });
    });
</script>